back-end/myArtifact/markFirebasePassport1.json
back-end/myArtifact/markFirebasePassport2.json
back-end/myArtifact/markFirebasePassport3.json
back-end/myArtifact/src/main/resources/markFirebasePassport3.json
front-end/firebase-debug.log
